# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_MODE=DEMO

# Solana
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_SOLANA_NETWORK=mainnet-beta

# Jupiter
JUPITER_API_URL=https://quote-api.jup.ag/v6

# Google OAuth (server-side verification)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Security
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000